*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.donate-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/* .donate-grid .donate-1{
    margin-bottom: 5rem;
} */

.donate-grid .donate-1 .img1{
    width: 89.5%;
    height: 450px;
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: 5rem;
}

.donate-grid .donate-1 .para1{
    margin-top: 3rem;
    margin-left: 5rem;
}

.donate-grid .pay{
    width: 50%;
    box-shadow: 0 4px 10px 0 rgb(156 51 83 / 30%);
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: 16rem;
    /* border: 2px solid red; */
    height: 80vh;
}

.donate-grid .pay .btn-1{
    width: 42%;
    height: 34px;
    margin-top: 10rem;
    margin-left: 7.2rem;
    /* margin-left: 5rem;
    padding-top: 10rem; */
}
.head{
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 80%;
    border: 1px solid #e0e1e3;
    border-top: none;
    background: hsla(210,4%,89%,.2);
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 50px;
}

.head2{
    margin-top: 3rem;
    margin-left: 5rem;
}

.head-1{
    padding-left: 2rem;
}

.line{
    margin-top: 4rem;
    border-left: 4px solid rgb(199, 12, 12);
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
}