*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container1{
    margin-left: 14rem;
}

.container1 .campaign-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-right: 14rem;
    text-decoration: none;
}

.container1 .campaign-list .campaign-list-card{
    width: 30%;
    box-shadow: 0 4px 10px 0 rgb(156 51 83 / 30%);
    border-radius: 8px;
    margin-top: 3rem;
    height: 450px;
    text-decoration: none;
    color: black;
}


/* .container1 .campaign-list .campaign-list-card a{
    text-decoration: none;
    width: 100%;
    height: 2500px;
 } */


 /* .container1 .campaign-list .campaign-list-card a:hover{
    box-shadow: 0 4px 10px 0 rgb(156 51 83 / 80%);
 } */

 /* .container1 .campaign-list .campaign-list-card a .img-container{
    width: 100%;
 } */

 /* .container1 .campaign-list .campaign-list-card a .img1{
     width: 100%;
     height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 } */
 .container1 .campaign-list .campaign-list-card .img1{
     width: 100%;
     height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 }

 


 .container1 .campaign-list .campaign-list-card .topic{
     margin-left: 10px;
     line-height: 25px;
     margin-top: 0.5rem;
 }

 .container1 .campaign-list .campaign-list-card .create{
    margin-left: 10px;
     line-height: 25px;
     margin-top: 1rem;
 }

.container1 .campaign-list .campaign-list-card .line{
    margin-top: 1rem;
    border-left: 4px solid rgb(199, 12, 12);
    padding-left: 10px;
    margin-left: 10px;
}

@media(max-width: 1430px){
    .container1{
        margin-left: 25rem;
    }
    .container1 .campaign-list{
        display: grid;
        grid-template-columns: 500px 500px;
        /* padding-left: 4rem; */
    }

    .container1 .campaign-list .campaign-list-card{
        width: 80%;
    }
}

@media(max-width: 875px){
    .container1{
        margin-left: 0rem;
    }

    .container1 .campaign-list{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container1 .campaign-list .campaign-list-card{
        width: 80%;
        margin-left: 12rem;
    }
}

@media(max-width: 492px){

    .container1{
        margin-left: 6rem;
    }

    .container1 .campaign-list .campaign-list-card {
        width: 174%;
        margin-left: 1rem;
    }
}